*{
    box-sizing: border-box;
}
body{
    background-color: goldenrod;
}
#story {
    display: none;
  }
 @media screen{
    .head{
        width: 100%;
    } 
 }
 .btn{
     background-color: dodgerblue;
     border: none ;
     color: white;
     padding: 12px 30px;
     cursor: pointer;
     font-size: 20px;
 }
 .btn:hover{
     background-color: royalblue;
 }
